# Diretórios e arquivos de cache
__pycache__
*.pyc
*.pyo
*.pyd

# Diretórios de ambiente virtual
env/
.venv/
env.*
.venv.*

# Arquivos de controle de versão
.git
.gitignore

# Outros arquivos não essenciais
Dockerfile*
README*
